body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1em;
    text-align: center;
}

.content-section {
    max-width: 600px;
    max-height: 750px;
    margin: 5px auto;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    position: absolute;
}

.content-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

.btn {
    background-color: #ff6b0a;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #ff6b0a;
}

.text-sup {
    color: #007bff;
    text-decoration: none;
}

.text-sup:hover {
    text-decoration: underline;
}

.text-muted {
    margin-top: 10px;
    display: block;
    text-align: center;
}

.text-inf {
    text-align: center;
}

.border-bottom {
    padding: 8px;
}

.card {
    width: 500px;
    height: 360px;
    margin: 0 auto;
    padding: 40px;
}

