{% extends 'chat/base.html' %}
{% load static %}
{% block title %}SignIn{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<div class="content-section">
    <form class="content-form" method="post">
        {% csrf_token %}{{ form|crispy }}
        <p>Don't have an account? Create new <a href="/signup">here</a>!</p>
        <button type="submit" class="btn btn-success">Login</button>
        <a href="/" class="btn btn-secondary btn-block mt-3">Back</a>
    </form>
    <small class="text-muted">
        <a class="text-sup" href="{% url 'password_reset' %}">Forgot password?</a>
    </small>
</div>
{% endblock %}