{% extends 'chat/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<div class="content-section">
    <h2>Reset Password</h2><hr>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-info mt-5" type="submit">Send email</button>
        <a href="/" class="btn btn-secondary btn-block mt-5">Back</a>
    </form>
</div>
{% endblock %}