{% extends "chat/base.html" %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<div class="content-section">
    <h2>Password Reset Confirm</h2><hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">Reset password</button>
    </form>
</div>
{% endblock %}