{% extends 'chat/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h2>Chat</h2>
    {% for item in message %}
        {{ item.message }}<br>
    {% endfor %}
     {% if chat_id %}
        <form method="post" enctype="multipart/form-data" action="{% url 'send_message_id' chat_id=chat_id %}">
     {% else %}
        <form method="post" enctype="multipart/form-data" action="{% url 'send_message' %}">
     {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">send</button>
    </form>
{% endblock %}


