{#{% extends 'chat/base.html' %}#}
{#{% block title %}Home Page{% endblock %}#}
{#{% block content %}#}
{#    <h2>Chat</h2>#}
{#    {% for item in message %}#}
{#        <h3>{{ item.sender }}<br></h3>{{ item.message }}<br>#}
{#    {% endfor %}#}
{#    <form id="messageForm" method="post" enctype="multipart/form-data" action="">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="button" onclick="sendMessage()">Send</button>#}
{#    </form>#}
{##}
{#    <script>#}
{#    console.log("chat_id:", "{{ chat_id }}");#}
{#        function sendMessage() {#}
{#            var form = document.getElementById("messageForm");#}
{#            var chatIdInput = document.createElement("input");#}
{#            chatIdInput.setAttribute("type", "hidden");#}
{#            chatIdInput.setAttribute("name", "chat_id");#}
{#            chatIdInput.setAttribute("value", "{{ chat_id }}");#}
{#            form.appendChild(chatIdInput);#}
{##}
{#            var actionUrl;#}
{#            if ("{{ chat_id }}" !== "None") {#}
{#                actionUrl = "/send_message/{{ chat_id }}/";#}
{#            } else {#}
{#                actionUrl = "/send_message/";#}
{#            }#}
{##}
{#            form.action = actionUrl;#}
{#            form.submit();#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}

{% extends 'chat/base.html' %}
{% block title %}Chat{% endblock %}
{% block content %}
    <style>
        body {
            overflow: hidden;
        }

        .chat-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            min-height: 100vh;
            overflow-y: auto;
        }

        .message-box {
            border: 1px solid #ccc;
            padding: 10px;
            max-width: 1000px;
            margin: 20px 0;
            width: 50%;
            word-wrap: break-word;
            overflow-y: auto;
            max-height: 70vh;
            border-radius: 10px;
        }

        .message {
            margin-bottom: 10px;
        }

        .form-container {
            text-align: center;
            margin-top: 20px;
            position: absolute;
            bottom: 170px;
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        textarea {
            height: 40px;
            resize: vertical;
            margin-top: 10px;
            width: 900px;
            overflow-y: auto;
            border-radius: 10px;
        }

        button {
            margin-top: 10px;
            width: 100px;
            border-radius: 10px;
        }
    </style>

    <div class="chat-container">
        <div class="message-box">
            {% for item in message %}
                <div class="message">
                    <h3>{{ item.sender }}<br></h3>{{ item.message }}<br>
                </div>
            {% endfor %}
        </div>

        <div class="form-container">
            <form id="messageForm" method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="button" onclick="sendMessage()">Send</button>
            </form>
        </div>
    </div>

    <script>
        console.log("chat_id:", "{{ chat_id }}");
        function sendMessage() {
            var form = document.getElementById("messageForm");
            var chatIdInput = document.createElement("input");
            chatIdInput.setAttribute("type", "hidden");
            chatIdInput.setAttribute("name", "chat_id");
            chatIdInput.setAttribute("value", "{{ chat_id }}");
            form.appendChild(chatIdInput);

            var actionUrl;
            if ("{{ chat_id }}" !== "None") {
                actionUrl = "/send_message/{{ chat_id }}/";
            } else {
                actionUrl = "/send_message/";
            }

            form.action = actionUrl;
            form.submit();
        }
    </script>
{% endblock %}













