{% extends 'chat/base.html' %}
{% load static %}
{% block title %}DocChat{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <style>
            .button-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                height: 76vh; /* 100% висоти вікна браузера */
            }
        </style>
    </head>
    <div class="container text-center button-container">
        {% if user.is_authenticated %}
            <a class="btn btn-darkorange btn-lg m-2" href="{% url 'send_message' %}">Create chat</a>
            <a class="btn btn-darkorange btn-lg m-2" href="{% url 'upload_file' %}">Upload file</a>
            <a class="btn btn-darkorange btn-lg m-2" href="{% url 'get_chats' %}">History</a>

        {% else %}
            <h1></h1>
        {% endif %}
    </div>
{% endblock %}
